jsonnet
nltk
# Only needed for DROP evaluation script
scipy
# OpenAI
openai
# Caching OpenAI calls to save $$/time
diskcache
# ONLY NEEDED IF USING YOUR OWN LLM
# transformers==4.11.3
# torch==1.10.0
## Needed for T5 models
# sentencepiece
# protobuf==3.19.0
